
  <div class="carousel">
    <a class="carousel-item item" href="#one!"><img src="http://hottesthaircuts.com/wp-content/uploads/2016/11/rihanna-stylish-singer-short-hair.jpg"></a>
    <a class="carousel-item item" href="#two!"><img src="http://hottesthaircuts.com/wp-content/uploads/2016/11/rihanna-stylish-singer-short-hair.jpg"></a>
    <a class="carousel-item item" href="#three!"><img src="http://hottesthaircuts.com/wp-content/uploads/2016/11/rihanna-stylish-singer-short-hair.jpg"></a>
    <a class="carousel-item item" href="#four!"><img src="http://hottesthaircuts.com/wp-content/uploads/2016/11/rihanna-stylish-singer-short-hair.jpg"></a>
    <a class="carousel-item item" href="#five!"><img src="http://hottesthaircuts.com/wp-content/uploads/2016/11/rihanna-stylish-singer-short-hair.jpg"></a>
  </div>